body {
	color: #000000;
	background: #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
}

.title {
	text-align: center;
	border-bottom: 1px solid #e0e0e0;
}

.container {
	top: 100px;
	max-width: 680px;
}
